body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set the background color to white */
    text-align: center; /* Center align the content */
}

header {
    background-color: powderblue;
    color: black;
    font-family: Georgia;
    padding: 1em;
}

header img {
    max-width: 100px; /* Adjust the size of your logo as needed */
    height: auto;
    margin-right: 10px;
}

header h1 {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0; /* Remove the default margin-bottom for inline-block */
}

header p {
    font-size: 90%;
    margin: 0;
    text-align: right; /* Align the tagline to the top */
    font-family: fantasy;
}

nav {
    background-color: rgb(200, 200, 200);
    padding: 1em;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.image-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    white-space: nowrap;
    transition: transform 1s ease-in-out; /* Adjust the transition duration as needed */
}

.slide {

    width: 500;
    max-width: 100vw;
    height: 500;
    display: inline-block;
}

#side-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px;
    border: none;
    cursor: pointer;
}

#side-button:checked + .image-gallery .slides {
    transform: translateX(-100%); /* Adjust the percentage based on the number of images */
}