body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0; /* Light gray background color */
}

.topnav {
    background-color: #333;
    overflow: hidden;
    flex: 1; /* Take remaining space in header */
    text-align: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

header {
    
    color: black;
    font-family: Georgia;
    text-align: center;
    display: flex;
    align-items: center; /* Center items vertically in flex container */
}

header h1 {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0;
}

header p {
    font-size: 90%;
    margin: 0;
    text-align: right;
    font-family: fantasy;
}

nav {
    background-color: rgb(200, 200, 200);
    padding: 1em;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.image-gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    white-space: nowrap;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 500px;
    max-width: 100vw;
    height: 500px;
    display: inline-block;
}

#side-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#side-button:checked + .image-gallery .slides {
    transform: translateX(-100%);
}
